.error {
    color: red;
}

.errorblock {
    color: #000;
    background-color: #ffeeee;
    border: 3px solid red;
    margin: 16px;
}

footer{
    margin-top: 3em;
    opacity: 0.8;
    font-size: small;
}

section.main {
    min-height: 20em;
}

.cursor-pointer{
    cursor: pointer;
}

.panel-collapse .panel-body {
    display: none;
}

.well h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.logout-block span {
    color: #4A7C59;
    position:relative;
    top:2px
}

.logout-block form {
    display: inline-block;
}
