.error {
    color: red;
}

.errorblock {
    color: #000;
    background-color: #ffeeee;
    border: 3px solid red;
    margin: 16px;
}

footer{
    margin-top: 3em;
    opacity: 0.8;
    font-size: small;
}

section.main {
    min-height: 20em;
}

.cursor-pointer{
    cursor: pointer;
}

.panel-collapse .panel-body {
    display: none;
}